{% extends 'gdpr_tools/base.html' %}

{% load i18n %}
{% load bootstrap4 %}
{% block 'content' %}
  <div id="CookieBanner">
    <ul class="nav nav-tabs" id="cookieTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="consent-tab" data-toggle="tab" role="tab" aria-controls="consent" aria-selected="true" href="#consent">{% trans 'Consent' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="cookielist-tab" data-toggle="tab" role="tab" aria-controls="cookielist" aria-selected="false" href="#cookielist">{% trans 'Cookie list' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="cookiepolicy-tab" data-toggle="tab" role="tab" aria-controls="cookiepolicy" aria-selected="false" href="#cookiepolicy">{% trans 'Cookie policy' %}</a>
      </li>
    </ul>
    <div class="tab-content" id="tab-content">
      <div id="consent" class="tab-pane fade show active" role="tabpanel" aria-labelledby="consent-tab">
        <form method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
            <button type="submit" class="">{% trans "Save preferences" %}</button>
          {% endbuttons %}
        </form>
      </div>
      <div id="cookielist" class="tab-pane fade" role="tabpanel" aria-labelledby="cookielist-tab">
        {% for category in cookie_list %}
        <ul>
            <p>{{category.name}}</p>
            {% for cookie in category.cookies.all %}
              <li>
                {{cookie.name}}
              </li>
            {% endfor %}
        </ul>
        {% endfor %}
      </div>
      <div id="cookiepolicy" class="tab-pane fade" role="tabpanel" aria-labelledby="cookiepolicy-tab">
      </div>
    </div>
  </div>
{% endblock %}
